<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body th:fragment="taglibs" th:remove="tag">


<script src="../../static/common/plugins/jquery/jquery-1.12.0.min.js"
        th:src="@{/common/plugins/jquery/jquery-1.12.0.min.js}"></script>
<script src="../../static/common/plugins/jquery/jquery-ui.min.js"
        th:src="@{/common/plugins/jquery/jquery-ui.min.js}"></script>
<script src="../../static/common/plugins/jquery-validation-1.15.0/dist/jquery.validate.js"
        th:src="@{/common/plugins/jquery-validation-1.15.0/dist/jquery.validate.js}"></script>
<script src="../../static/common/plugins/bootstrap/js/bootstrap.min.js"
        th:src="@{/common/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../static/common/plugins/AdminLTE2/js/app.min.js"
        th:src="@{/common/plugins/AdminLTE2/js/app.min.js}"></script>
<script src="../../static/common/plugins/knockout/knockout-3.4.0.js"
        th:src="@{/common/plugins/knockout/knockout-3.4.0.js}"></script>
<script src="../../static/common/plugins/knockout/knockout.mapping-latest.js"
        th:src="@{/common/plugins/knockout/knockout.mapping-latest.js}"></script>
<script src="../../static/common/plugins/optiscroll/js/jquery.optiscroll.min.js"
        th:src="@{/common/plugins/optiscroll/js/jquery.optiscroll.min.js}"></script>
<script src="../../static/common/plugins/layui/layui.js"
        th:src="@{/common/plugins/layui/layui.js}"></script>

<!--commons js-->
<script src="../../static/common/js/base.js" th:src="@{/common/js/base.js}"></script>
<script src="../../static/common/js/pageA.js" th:src="@{/common/js/pageA.js}"></script>
<script src="../../static/common/js/bootstrap.js" th:src="@{/common/js/bootstrap.js}"></script>
<script src="../../static/common/js/web_service.js" th:src="@{/common/js/web_service.js}"></script>

<script src="../../static/common/js/bootstrap-datetimepicker.min.js"
        th:src="@{/common/js/bootstrap-datetimepicker.min.js}"></script>
<script src="../../static/common/js/layer.js" th:src="@{/common/js/layer.js}"></script>
<script src="../../static/common/js/jquery.Jcrop.js" th:src="@{/common/js/jquery.Jcrop.js}"></script>
<script src="../../static/common/js/ajaxfileupload.js" th:src="@{/common/js/ajaxfileupload.js}"></script>


<script src="../../static/common/js/jquery.ztree.core.js" th:src="@{/common/js/jquery.ztree.core.js}"></script>
<script src="../../static/common/js/jquery.ztree.excheck.min.js"
        th:src="@{/common/js/jquery.ztree.excheck.min.js}"></script>
<script src="../../static/common/js/bootstrap-treeview.js" th:src="@{/common/js/bootstrap-treeview.js}"></script>


<!--<script type="text/javascript">-->
<!--function getPath() {-->
<!--var pathName = document.location.pathname;-->
<!--var index = pathName.substr(1).indexOf("/");-->
<!--var result = pathName.substr(0, index + 1);-->
<!--return result;-->
<!--}-->
<!--console.log(getPath());-->
<!--</script>-->

<link rel="stylesheet" href="../../static/common/css/base.css" th:href="@{/common/css/base.css}"/>
<link rel="stylesheet" href="../../static/common/css/common.css" th:href="@{/common/css/common.css}"/>
<link rel="stylesheet" href="../../static/common/css/form_style.css" th:href="@{/common/css/form_style.css}"/>
<link rel="stylesheet" href="../../static/common/css/font-awesome.css" th:href="@{/common/css/font-awesome.css}"/>
<link rel="stylesheet" href="../../static/common/css/bootstrap.css" th:href="@{/common/css/bootstrap.css}"/>
<link rel="stylesheet" href="../../static/common/css/AdminLTE.css" th:href="@{/common/css/AdminLTE.css}"/>
<link rel="stylesheet" href="../../static/common/css/skin-blue.css" th:href="@{/common/css/skin-blue.css}"/>
<link rel="stylesheet" href="../../static/common/css/optiscroll.css" th:href="@{/common/css/optiscroll.css}"/>
<link rel="stylesheet" href="../../static/common/css/layui.css" th:href="@{/common/css/layui.css}"/>
<link rel="stylesheet" href="../../static/common/css/common.css" th:href="@{/common/css/common.css}"/>
<link rel="stylesheet" href="../../static/common/css/base.css" th:href="@{/common/css/base.css}"/>
<link rel="stylesheet" href="../../static/common/css/jquery.Jcrop.css" th:href="@{/common/css/jquery.Jcrop.css}"/>
<link rel="stylesheet" href="../../static/common/css/zTreeStyle.css" th:href="@{/common/css/zTreeStyle.css}"/>
<link rel="stylesheet" href="../../static/common/css/bootstrap-datetimepicker.min.css"
      th:href="@{/common/css/bootstrap-datetimepicker.min.css}"/>


</body>

</html>

