html, body {
    background: #f1f1f1;
    height: 100%;
    width: 100%;
}

.wrapper .header-bottom {
    display: none;
}

.wrapper .main-head {
    height: 65px;
}

.forget-box {
    width: 1280px;
    height: 100%;
    padding-bottom: 100px;
    margin: 0 auto;
    margin-top: 75px;
}

.forget-content {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: "微软雅黑";
    font-size: 12px;
    overflow: auto;
}

.forget-content .forget-title {
    height: 52px;
    width: 100%;
    border: 1px solid #dedede;
    background: #f3f3f3;
    line-height: 50px;
    font-size: 16px;
    color: #333;
    padding-left: 15px;
}

.forget-content .forget-progress {
    width: 700px;
    margin: 50px auto 60px;
    overflow: hidden;
}

.forget-content .forget-progress > div {
    width: 175px;
    float: left;
    position: relative;
}

.forget-content .forget-progress .circle {
    width: 32px;
    height: 32px;
    background: #f3f3f3;
    color: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
}

.forget-content .forget-progress .step-name {
    height: 45px;
    width: 100%;
    padding-top: 25px;
    border-top: 4px solid #f3f3f3;
    margin-top: 14px;
    text-align: center;
}

.forget-content .forget-progress .active .step-name {
    border-top: 4px solid #4F8900;
}

.forget-content .forget-progress .active .circle {
    background: #4f8900;
    color: #fff;
}

.forget-content .forget-form {
    width: 380px;
    margin: 0 auto;
    position: relative;
}

.forget-content .forget-form > div {
    margin-bottom: 10px;
    position: relative;
}

.forget-content .forget-form .error-alert {
    position: absolute;
    right: 22px;
    color: #f00;
}

.forget-content .forget-form .error-alert.step02 {
    position: absolute;
    right: 87px;
    color: #f00;
    bottom: 55px;
}

.forget-content .forget-form > div:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.forget-content .forget-form > div > span {
    height: 32px;
    width: 50px;
    line-height: 32px;
    float: left;
}

.forget-content .forget-form > div > p {
    height: 32px;
    line-height: 32px;
    float: left;
}

.forget-content .forget-form input {
    height: 32px;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding-left: 10px;
    outline: none;
    float: left;
}

.forget-content .forget-form #user {
    width: 325px;
}

.forget-content .forget-form #verify {
    width: 220px;
}

.forget-content .forget-form #code-pic {
    margin-left: 15px;
    margin-top: 3px;
}

.forget-content .forget-form #phone-verify {
    width: 160px;
}

.forget-content .forget-form .get-code {
    width: 155px;
    height: 32px;
    float: left;
    border: none;
    background: #4F8900;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    outline: none;
}

.forget-content .forget-form .get-code.disabled {
    background: #f3f3f3;
    color: #999;
}

.forget-content .forget-form .submit {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #4F8900;
    color: #fff;
    font-size: 16px;
    margin-top: 40px;
    outline: none;
}

.forget-content .password-form > div > span {
    width: 75px;
    text-align: right;
}

.forget-content .password-form > div > input {
    width: 300px;
}

.forget-content .success {
    width: 245px;
}

.forget-content .forget-form .success-icon {
    width: 44px;
    height: 44px;
    background: url(../../user/images/reset-success.png) no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-top: 2px;
}

.forget-content .forget-form .success-text {
    float: left;
    margin-left: 10px;
    font-size: 14px;
}

.forget-content .forget-form .success-text .set-success {
    font-size: 16px;
}

.forget-content .forget-form .success-text a {
    margin-left: 15px;
    color: #4f8900;
}

#user-error, #verify-error, #phone-verify-error, #password-error, #confirm-password-error {
    color: red;
    position: absolute;
    left: 385px;
    width: 200px;
    line-height: 32px;
    top: 0;
}

.disable_alert {
    width: 330px;
    margin: 0 auto;
    padding-left: 55px;
    position: relative;
    margin-top: 155px;
}

.disable_alert .icon {
    width: 44px;
    height: 44px;
    background: #f00;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 60px;
}

.disable_alert .alert-title {
    margin-bottom: 45px;
}

.disable_alert .administrator {
    margin-bottom: 35px;
}

.disable_alert .alert-title div {
    font-size: 15px;
    line-height: 24px;
}

.disable_alert .alert-title span {
    font-size: 12px;
    line-height: 20px;
}

.disable_alert .back-to-login {
    font-size: 14px;
    color: #4f8900;
    text-decoration: underline;
    float: right;
}