/* userd for upload avatar,edit avatar. */

.upload-img .box {
    border-top: 6px solid #4f8900;
}

.upload-img .box-header {
    border-bottom: 1px solid #dedede;
    height: 44px;
}

.wl {
    float: left;
    width: 400px;
    margin: 10px;
}

.wr {
    float: left;
    margin: 10px;
    display: inline;
}

.jc-demo-box {
    position: relative;
    background-color: #e7e7e7;
    width: 400px;
    height: 340px;
    overflow: hidden;
    border: 1px solid #c8c8c8;
}

.jcrop_w {
    width: 400px;
    height: 340px;
    overflow: hidden;
}

.jcrop_w img {
    position: absolute;
}

.pre-1, .pre-2, .pre-big, .pre-small, .pre-spec {
    border: 1px solid #c8c8c8;
}

.pre-1 {
    width: 128px;
    height: 128px;
    overflow: hidden;
}

.pre-2 {
    width: 90px;
    height: 90px;
    overflow: hidden;
    margin-top: 13px;
}

.pre-big {
    width: 240px;
    height: 160px;
    overflow: hidden;
}

.pre-spec {
    width: 180px;
    height: 220px;
    overflow: hidden;
}

.pre-small {
    width: 120px;
    height: 80px;
    overflow: hidden;
    margin-top: 13px;
}

.portrait-save {
    position: relative;
    top: 20px;
}

.portrait-save .file {
    position: relative;
    display: inline-block;
    background: #4f8900;
    border: 1px solid #4f8900;
    border-radius: 4px;
    padding: 4px 20px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.portrait-save .file:hover {
    background-color: #73ae23;
}

.portrait-save .file:focus {
    background-color: #98ca54;
}

.portrait-save .file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.portrait-save .file input:focus {
    background: #eee;
    color: #fff;
    text-decoration: none;
}

.portrait-save .save-btn {
    width: 98px;
    position: absolute;
    right: 0;
    top: 0;
}

.final-img {
    border: 1px solid #d3d3d3;
    background: #ffffff;
    display: none;
}

#myCanvas {
    border: 1px solid #d3d3d3;
    background: #ffffff;
    display: none;
}